*{
    padding:0;
    margin: 0
}

header{ background-color: #e74c3c; }
section:nth-of-type(3n+1) { background-color: #1abc9c; }
section:nth-of-type(3n+2) { background-color: #3498db; }
section:nth-of-type(3n) { background-color: #9b59b6; }
footer{ background-color: #e67e22; }
nav { background-color: #3498db; }
