*{
    margin: 0,5rem;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap; 
}
header{
    flex-basis: 100%;
    flex-grow: 1;
}
section{
     flex-basis: 40%;
     flex-grow: 1;
}
article{
    flex-basis: 60%;
    flex-grow: 1
}
footer{
    flex-basis: 30%;
    flex-grow: 1;
}