body{
    display : flex;
    flex-wrap: wrap;
}
header {
    flex-basis: 50%;
    flex-grow: 0;
}
section {
    flex-basis : 50%;
    flex-grow: 1
}
footer {
    flex-basis : 50%;
    flex-grow: 0;
    }