*{
    margin : 0.5rem;
    padding : 0;
    }
body{
display : flex;
flex-wrap: wrap;
}
header {
flex-basis : 100%;
flex-grow: 0;
}
section {
flex-basis : 30%;
flex-grow: 0;
}
footer {
flex-basis : 50%;
flex-grow: 1;
}