*{
margin : 0.5rem;
padding : 0;
}
body{
display : flex;
flex-wrap: wrap;
}
header {
flex-basis : 40%;
flex-grow: 0;
}
section {
flex-basis : 40%;
flex-grow: 0;
}
footer {
flex-basis : 50%;
flex-grow: 1;
}