<!doctype html>
<html lang="fr">
    <head>
	    <meta charset="utf-8"/>
	    <title>{{titre}}</title>
        <link rel="stylesheet" href="peso.css"/>
    </head>
    <body>
		<h1>{{titre}}</h1> 
        <h2>{{sous_titre}}</h2>
        <ul>
            {%for personnage_1 in personnages_film_1 %}
            <li> {{personnage_1}} </li>
            {% endfor%}
        </ul>
        <h2>{{sous_titre}} (sous forme d'un tableau d'une seule ligne)</h2>
        <table>
            <tbody>
                <th>
                    {%for personnage in personnages_film_1%}
                    <td>{{personnage}}</td>
                    {%endfor%}
                </th>
            </tbody>
        </table>
        <h2>personnage principaux de l'épisode {{num1}} ({{film1}}) et de l'éîsode {{num2}} ({{film2}}) sous forme d'un tableau (sur deux lignes)</h2>

        <table>
            <tbody>
                <tr>
                    <th>dans l'episode {{num1}}</th>
                    {%for personnage  in liste_persos_film_1%}
                    <td>{{personnage}}</td>
                    {%endfor%}
                </tr>
                <tr>
                    <th>dans l'episode {{num2}}</th>
                    {%for personnage in liste_persos_film_2%}
                    <td>{{personnage}}
                    {%endfor%}
                </tr>
            </tbody>
        </table>

        <h2>Les personnages présents dans les deux épisodes (dans un tableau)</h2>
        <table>
            <tbody>
                <tr>
                    <th>présents dans les deux épisodes</th>
                    {%for personnage in perso_en_commun%}
                    <td>{{personnage}}</td>
                    {%endfor%}
                </tr>
            </tbody>
        </table>

        <h2>Les personnages présents dans un seul des deux épisodes</h2>
        <table>
            <tbody>
                <tr>
                    <th>Présents dans un seul des deux épisodes</th>
                    {%for personnage in perso_1_fois%}
                    {%if personnage in liste_persos_film_1%}
                    <td class="fim1">
                        {%else%}
                    <td class="film2"
                        {%endif%}
                        {{personnage}}
                    {%endfor%}
                </tr>
            </tbody>
        </table>
    </body>
</html>