table{
  border:1px solid black;
}
td{
  border:1px solid black;
}
th{
  background-color: gray;
}
body{
  background-image: url(7f3aee2c3ad90e7d3f89bd6604bb499a--art-auction-star-wars-clone-wars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

