<!doctype html>
<html lang="fr">
  <head>
	  <meta charset="utf-8"/>
	  <title>Personnages principaux des films Star Wars (épisodes IV et V)</title>
    <link rel="stylesheet" href="peso.css"/>
  </head>
  <body>
    <header>
      <h1>Planètes de la galaxie</h1>
      <img src="SW_logo.png">
    </header>
    <section>
      <h1>question 2</h1>
      <ul>
        {%for Personnages,_,_ in personnages%}
        <li>{{Personnages}}</li>
        {%endfor%}
      </ul>
    </section>
    <section>
      <h1>question 3</h1>
      <ul>
        {%for Personnages,sexe,_ in personnages%}
        {%if sexe=="female"%}
        <li>{{Personnages}}</li>
          {%endif%}
        {%endfor%}
      </ul>
    </section>
    <section>
      <h1>question 4</h1>
      <ul>
        {%for Personnages,_,taille in personnages%}
        {%if taille >=180%}
        <li>{{Personnages}}</li>
        {%endif%}
        {%endfor%}
      </ul>
    </section>
    <section>
      <h1>question 5</h1>
      <table>
        <tbody>
          {%for Personnages,sexe,_ in personnages%}
          {%if sexe=="male"%}
          <tr>
            <th>Homme</th>
              <td>{{Personnages}}</td>
          </tr>
          {%elif sexe=="female"%}
          <tr>  
            <th>Femme</th>
            <td>{{Personnages}}</td>
          </tr>
          {%else%}
          <tr>  
            <th>Droide</th>
              <td>{{Personnages}}</td>
          </tr>
          {%endif%}
          {%endfor%}
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h1>question 6</h1>
      <table>
        <tbody>
          {%for Personnages,sexe,taille in personnages%}
          <tr>
            <td>{{Personnages}}</td>
            <td>{{sexe}}</td>
            <td>{{taille}}</td>
          {%endfor%}
          </tr>
        </tbody>
      </table>
    </section>
    <footer>Document Numérique - Janvier 2021 - Auteur Velluet Jules</footer>
  </body>
</html>