h1, h2, h3 {
    color: purple;
}
header {
    text-align: center;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    background-color: lightskyblue;
    padding: 1em
    margin: 1em
}

h1 {
    font-size: 7rem;
}
