/* Exercice 1 */
header, footer{
  background-color: black;
  color: yellow;
  justify-content: space-between;
}
img,h1{
  padding-left: auto;
  padding-top: 0px;
}
img{
  padding-left: 85%;
}
body{
  padding: 0px;
  margin: 0px;
}
main{
  display: flex;
  flex-wrap: wrap;
}
section{
  flex-basis: 40%;
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
}
table,td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

/* Exercice 2 */

