<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>Bilan</title>
<link rel="stylesheet" href="planetes.css"/>
</head>
<body>
  <header>
    <h1>Planètes de la galaxie</h1>
    <img src="SW_logo.png">
  </header>
  <h2>Mondes du Noyau</h2>
  <main>
    <section>
      <h3>Nombre de planetes</h3>
      <p>On peut trouver {{nb}} planètes différentes dans cette partie de la galaxie</p>
    </section>
    <section>
      <h2>Les espèces qu'on peut trouver dans cette partie de la galaxie</h2>
      <ul>
        {%for perso in espece%}
        <li>{{perso}}</li>
        {%endfor%}
      </ul>
    </section>
    <section>
      <h3>Tableau</h2>
      <table>
          <tbody>
          <tr>
            <th>especes</th>
            <th>planetes</th>
          </tr>
          {%for espece,nom in tableau.items()%}
          <tr>
            <td>{{espece}}</td>
            <td>{%for nom1 in nom%}{{nom1}} - {%endfor%}</td>
          </tr>
          {%endfor%}
      </table>
    </section>
  </main>
  <footer>Document Numérique - Décembre 2020 - Auteur Céline Adobet</footer>
</body>
</html>
