header, footer{
    background-color: tan;
}
nav,aside{
    background-color: pink;
}
article{
    background-color: lightblue;
}


*{
    margin: 0,5rem;
    padding: 0rem;
}
body{
    display: flex;
    flex-wrap: wrap;
}
header{
    flex-basis: 100%;
    flex-grow: 1;
}
section{
    display: flex;
    flex-wrap: nowrap;
}

footer{
    flex-basis: 100%;
    flex-grow: 1;
}