body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(71, 71, 71);
    display: flex;
}

header h1{
    font-size: 2em;
    margin: auto;
}

.logoiut{
    height: 12%;
    width: 12%;
    margin-top: auto;
    margin-bottom: auto;
}

.nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav li{
    font-size: 120%;
    flex-grow: 1;
    text-align: center;
    height: 1.5em;
    display: flex;

}

a{
    color: black;
    text-decoration: none;
    flex-basis: 100%;
}


.nav li:hover{
    border-bottom: 1px solid;
    background-color: grey;
    margin: 0px;
    padding: auto;
}

main{
    background-color: rgb(200, 200, 200);
}

section{
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

h2{
    text-decoration: underline;
}

.sources{
    font-size: 10px;
    font-style: italic;
}

.sources_link{
    color: blue;
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}
