body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(71, 71, 71);
    display: flex;
}

header h1{
    font-size: 2em;
    margin: auto;
}

.logoiut{
    height: 12%;
    width: 12%;
    margin-top: auto;
    margin-bottom: auto;
}

.nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

.nav li{
    font-size: 120%;
    flex-grow: 1;
    text-align: center;
    height: 1.5em;
    display: flex;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
    flex-basis: 100%;
}


.nav li:hover{
    border-bottom: 1px solid;
    background-color: grey;
    margin: 0px;
    padding: auto;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(200, 200, 200);
}

main h1{
    text-align: center;
    flex-basis: 50.1%;
    flex-grow: 0;
}

section{
    flex-basis: 55%;
    flex-grow: 0;
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

main h1, h2{
    text-decoration: underline;
}

.poursuite{
    max-width: 91%;
	height: auto;
}

.licence_contole{
    max-width: 12%;
    height: auto;
}

.relou{
    display: flex;
    justify-content: center;
    
}

.relou > *{
    flex-basis: 50%;
}