header, body>footer{
  background-color: black;
  color: yellow;
  
  /* notez ici l'utilisation de em et non rem */
  padding: 1em;
  
  /* notez ici l'utilisation de rem et non em */
   margin: 0.5rem 0 0.5rem 0;
}

main{
  margin: 0.5em;
}
header{
  font-size: 3em;
}

nav li{
  list-style: none;
  padding: 0.5em;
}

h1{
  color:gray;
  font-size: 2rem;
}

h2{
  margin: 0.3rem;
}

img{
  /* notez ici l'utilisation de rem et non em */
  height:2rem;
  padding: 0 0 0 1rem;
}


main footer{
  margin: 3em;
  background-color: lightgray;
  display: inline-block
  
}

main{
  min-height: 60vh;
}
aside{
  background-color: lightgrey;
}

.encours{
  background-color: white;
}

  