/* Pour gérer la visibilité des indices */

.indice{
  margin: 0.5em 0em 1em 3em;
  padding: 0.5em;
  background-size: 2em;
  background-image:url("./images/indice.png");
  background-repeat: no-repeat;
  color: transparent;
  
}

.indice > a{
  color: inherit;
}

.indice:hover{
  background-color: lightgray;
  background-image: none;
  color: inherit;
}

  
