body{
margin :0;
padding :0;
width : 15cm;
border : thin solid black ;
}
h1{
background-color : pink;
margin :0.5cm;
padding :0.5cm;
font-size :1cm;
}
section {
background-color : lightblue ;
margin :0.5cm;
padding :0.5cm;
}
p{
background-color : green ;
margin :0.5cm;
padding :0.5cm;
font-size :0.5cm;
}