/* Séquence 4 - Les selecteurs CSS */
/* Vous pouvez mettre des commentaires dans un fichier CSS ! */

/*Exercice 3*/
/* TODO */
h1 {
    font-size: 300%;
}

h2, h1 {
    color: red;
}

section p {
    color: blue;
}

article h2 {
    font-size: 300%
}

body > p {
    color: green;
}
/*Exercice 4*/
/* TODO */
.spoil{
    color:red;
}
/*Exercice 5*/
/* TODO */

/*Exercice 6*/
/* TODO */
