<!doctype html>
<html lang="fr">
  <head>
	  <meta charset="utf-8"/>
	  <title>Personnages principaux des films Star Wars (épisodes IV et V)</title>
    <link rel="stylesheet" href="peso.css"/>
  </head>
  <body>
    <h1>L'A10, une autoraute magnifique à parcourir en KANGOOOOOOOO</h1>
    <section>
      <h2>Tarif priviligier des utilisateur de KANGOOOOOOOOOOOO</h2>
      <table>
        <thead>
          {%for i in range(iParis,y)%}
          <th>{{sorties[i]}}</th>
          {%endfor%}
        </thead>
        <tbody>
          <tr>
            {%for prix in prixParis%}
            <td>{{prix[1]}}</td>
            {%endfor%}
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>tarif Chateaudun</h2>
      <table>
        <thead>
          {%for i in range(icheteaudun,y)%}
          <th>{{sorties[i]}}</th>
          {%endfor%}
        </thead>
        <tbody>
          <tr>
            {%for prix in prixchateaudun%}
            <td>{{prix[1]}}</td>
            {%endfor%}
          </tr>
        </tbody>
      </table>
    </section>
    <table>
      <thead>
        <tr>
          <th>
            <p class="arrivee"> Villes d'arrivees</p>
            <p class="depart">Villes de departs</p>
          </th>
          {%for ville in sorties%}
          <th class="arrivee">{{ville}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {%for ville,liste in tableau.items()%}
        <tr>
          <td>{{ville}}</td>
          {%for prix in liste[0:]%}
          <td>{{prix}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>