body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: moccasin  ;
}
header{
    background-color: burlywood;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}
header>img{
    max-width: 15%;
    height: auto;
    flex-basis : 25%;
    flex-grow: 0;
}
h1{
    color: darkred;
    flex-basis : 75%;
    flex-grow: 1;
    text-align: center;
    font-size: 2em;
    margin: 1em;
    padding: 1em;
}
span{
    color: wheat;
    flex-basis : 100%;
    flex-grow: 1;
    text-align: center;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
#nav_bar{
    background-color: darkred;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 0.6em;
    text-align: center;
}
#nav_bar>ul{
    list-style: none;
    display: flex;
    text-align: center;
}
#nav_bar>ul>li{
    flex-grow: 1;
    color: white;
    flex-wrap:wrap ;
}
main {
    display: flex;
    margin: 1.2em;
}
main>section{
    justify-content: space-between;
    align-content: start;
}
#premier{
    display: flex;
    flex-wrap: wrap;
}
article>h2{
    flex-basis: 100%;
    flex-grow: 0;
}
.para{
    flex-basis: 45%;
    flex-grow: 0;
}
article>p{
    font-size: 1,9em;
}
article>img{
    padding: 0em;
    margin-left: 7em;
    max-width: 22%;
    height: auto;
}
h2 {
    font-size: 2em;
}
aside{
    background-color: gray;
}
aside>img{
    max-width: 100%;
    height: auto;
}
.indicateur{
    background-color: burlywood;
}
footer{
    background-color: gray;
    text-align: center;
    flex-basis: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
footer>nav{
    text-align: center;
    flex-basis: 100%;
    padding: 0.5em;
}
footer>nav>a{
    text-align: center;
    font-size: 1.5em;
}
footer h2{
    background-color: darkred;
    text-align: right;
    padding: 1em;
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 2em;
    color: moccasin;
    border-radius: 2em ;
    font-size: 1.2em;
}
footer>nav>ul{
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 0;
}
footer>nav>ul>li {
    flex-grow: 1;
    color: white;
}