/* A COMPLETER */
#presentation em{
    color:green;
}

#deroulement em {
    color:blue;
}

em>em{
    font-weight: bold;
}

#armes>ul>li{
    color:green;
  }

#armes>ul>li>ul>li{
    color:blue;
}

.contondant{
    font-weight: bold;
}

.coupant{
    text-decoration:underline;
}

.détourner{
    font-style: italic;
}

.victime{
    background-color: black;
    color:white;
}

.rose{
    background-color: deeppink;
}

.violet{
    background-color: purple;
}

.jaune{
    background-color: yellow;
}

.vert{
    background-color: green;
}

.bleu{
    background-color: blue;
}

.blanc{
    background-color: white;
}